<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>List of all categories</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="active">
        <strong>List of all categories</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <ul class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Categories: {{ categories.usersCount }}</h5>
          <a ui-sref="root.newCategory" class=""> &nbsp; &nbsp; Create New</a>
          <div ibox-tools></div>
        </div>
        <div class="ibox-content">
          <div class="gridStyle" ui-grid="categories.gridOptions"></div>
        </div>
      </div>
    </ul>
  </div>
</div>
