<div class="wrapper wrapper-content middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div class="m-b-xl">
            <img class="login-image" src="../../assets/images/big-logo.png" width="100"/>
        </div>
        <form class="m-t-lg" role="form" name="registerForm" method="post" novalidate="novalidate"
              ng-submit="register.register()">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="email" required="required" ng-model="register.credentials.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="{{'password' | translate}}" required="required" ng-model="register.credentials.password">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Retype {{'password' | translate}}" required="required" ng-model="register.credentials.repassword">
            </div>

            <div class="form-group">
                <select class="form-control" name="role_id" required="required" ng-model="register.credentials.role_id">
                  <option value="1">super</option>
                  <option value="2">provider</option>
                  <option value="3">seller</option>
                  <option value="4">client</option>
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" name="status_id" required="required" ng-model="register.credentials.status_id">
                  <option value="1">active</option>
                  <option value="2">inactive</option>
                  <option value="3">deleted</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" ng-disabled="register.loggingIn || !registerForm.$valid">{{'register' | translate}}</button>

            <!--<a href="#"><small>Forgot password?</small></a>-->
            <p class="text-muted text-center"><small>Already have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" ui-sref="login">Login</a>
        </form>
        <p class="m-t"> <small>&copy; Showroom Inc.</small> </p>
    </div>
</div>
