<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>List of all categories</h2>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="root.categories">Categories</a>
      </li>
      <li class="active">
        <strong>{{ category.category.name || 'New Category'}}</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>


<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Category {{ category.category.name }}</h5>

          <div ibox-tools></div>
        </div>
        <div class="ibox-content" >
          <form class="m-t-lg" role="form" name="categoryForm" method="post" novalidate="novalidate">

            <div ng-if="!category.isNew">
              <div class="form-group">
                <input type="text" class="form-control" readonly="readonly" ng-model="category.category.id">
              </div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Category Name" ng-model="category.category.name">
            </div>


            <div ng-if="!category.isNew">
              <button ng-click="category.updateCategory()" class="btn btn-primary m-b" ng-disabled="!userForm.$valid">Update</button>
              <button type="button" ng-click="category.deleteCategory()" class="btn btn-danger m-b">Delete</button>
            </div>

            <button ng-if="category.isNew" ng-click="category.createCategory()" class="btn btn-primary m-b" ng-disabled="!categoryForm.$valid">Create</button>


          </form>

        </div>
      </div>
    </div>
  </div>
</div>


