<div class="drag-side no-select" id="drag-side">
  <div class="toggle-showrooms-choice" ng-click="isSelectOpen = !isSelectOpen"
       ng-init="isSelectOpen = true">
    <span class="toggle-btn"></span>
  </div>
  <div class="drag-area" id="holder-top">
    <span>top</span>
  </div>
  <div class="drag-area" id="holder-front">
    <span>front</span>
  </div>
  <div class="drag-area" id="holder-right">
    <span>right</span>
  </div>
  <div class="drag-area" id="holder-back">
    <span>back</span>
  </div>
  <div class="drag-area" id="holder-left">
    <span>left</span>
  </div>

  <div class="drag-area" id="holder-bottom">
    <span>bottom</span>
  </div>
</div>

<div class="canvas-container" id="canvas-container">
  <div class="spinner-container" ng-class="{'active': isShowRoomLoading}">
    <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
  </div>
</div>

<div class="select-showroom" ng-class="{'closed': !isSelectOpen}">
  <div class="top">
    <span>
      <select ng-model="selShowroomSize"
              ng-change=""
              ng-options="option.name for option in showroomSizes">
      </select>

      <select ng-model="selShowroomStyle"
              ng-change=""
              ng-options="option.name for option in showroomStyles">
      </select>
    </span>

    <span class="info"><span class="showroom">{{ selectedShowroom.size.name }} {{ selectedShowroom.style.name }} {{ selectedShowroom.option.name }}</span></span>

    <button class="btn load-btn" ng-click="initWebGl()">LOAD</button>
  </div>

  <div class="showrooms">
    <div class="showroom" ng-repeat="showroom in showrooms | filter: {size: selShowroomSize,  style: selShowroomStyle}">
      <div class="showroom-border" ng-class="{'loaded': loadedShowroomUrl === showroom.url}"></div>
      <i ng-show="selectedShowroom.url === showroom.url" class="fa fa-check-circle check-showroom no-select"></i>
      <img class="pointer no-select showroom-preview"
           ng-click="selectShowroom(showroom)"
           ng-src="../assets/previews/{{ showroom.style.id }}.{{ showroom.size.name }}.{{ showroom.option.name }}.jpg"/>
    </div>
  </div>

</div>
