<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>List of all users</h2>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="root.users">Users</a>
      </li>
      <li class="active">
        <strong>{{ user.user.email || 'New Account'}}</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>


  <div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5 ng-if="user.isMe">My Account</h5>
            <h5 ng-if="!user.isMe">User {{ user.user.email }}</h5>

            <div ibox-tools></div>
          </div>
          <div class="ibox-content" >
            <form class="m-t-lg" role="form" name="userForm" method="post" novalidate="novalidate">

              <div ng-if="!user.isNew">
                <div class="form-group">
                  <input type="text" class="form-control" readonly="readonly" ng-model="user.user.id">
                </div>
              </div>

              <div class="form-group">
                <input type="email" class="form-control" placeholder="email" required="required" ng-model="user.user.email">
              </div>

              <div ng-if="user.isNew">
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" ng-model="user.user.password">
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Repeat" ng-model="user.user.repassword">
                </div>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="First name" ng-model="user.user.fname">
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Last name" ng-model="user.user.lname">
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone" ng-model="user.user.phone">
              </div>

              <!--<div class="form-group">
                <input type="text" class="form-control" placeholder="Country" ng-model="user.user.country_id">
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Region" ng-model="user.user.region_id">
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Country" ng-model="user.user.city_id">
              </div>-->

              <div class="form-group">
                <select class="form-control" name="role_id" required="required" ng-model="user.user.role_id"> <!--todo rewrite to ngOption-->
                  <option ng-selected="user.user.role_id == 1" value="1">super</option>
                  <option ng-selected="user.user.role_id == 2" value="2">provider</option>
                  <option ng-selected="user.user.role_id == 3" value="3">seller</option>
                  <option ng-selected="user.user.role_id == 4" value="4">client</option>
                </select>
              </div>

              <div class="form-group">
                <select class="form-control" name="status_id" required="required" ng-model="user.user.status_id"> <!--todo rewrite to ngOption-->
                  <option ng-selected="user.user.status_id == 1" value="1">active</option>
                  <option ng-selected="user.user.status_id == 2" value="2">inactive</option>
                  <option ng-selected="user.user.status_id == 3" value="3">deleted</option>
                </select>
              </div>
              <div ng-if="!user.isNew">
                <button ng-click="user.updateUser()" class="btn btn-primary m-b" ng-disabled="!userForm.$valid">Update</button>
                <button type="button" ng-click="user.deleteUser()" class="btn btn-danger m-b">Delete</button>
              </div>

              <button ng-if="user.isNew" ng-click="user.createUser()" class="btn btn-primary m-b" ng-disabled="!userForm.$valid">Create</button>


            </form>

          </div>
        </div>
      </div>
    </div>
  </div>


