/*
@font-face
  font-family effra-heavy
  src url('../fonts/Effra Font/EffraHeavy-Regular.ttf')

@font-face
  font-family effra-reqular
  src url('../fonts/Effra Font/Effra-Regular.ttf')

@font-face
  font-family effra-reqular-light
  src url('../fonts/Effra Font/EffraLight-Regular.ttf')

@font-face
  font-family effra-medium
  src url('../fonts/Effra Font/EffraMedium-Regular.ttf')


*/


h1, h2
  margin 0
