@import "fonts.styl";

//html
  //font-size $html-font-size

//body, html
  //font-family Montserrat

body
  min-height 500px
  min-width 892px

input[type='text']::-ms-clear, input[type='password']::-ms-reveal
  display none

.cursor-pointer
  cursor pointer


.widget-table

  &.table
    font-size 1.3rem
    border-collapse separate
    border-spacing 0 1px
    table-layout fixed

    tbody

      tr

        &:nth-child(odd)
          background-color #f9fafd

        &:nth-child(even)
          background-color #ffffff

    tr

      td
        color rgba(53, 55, 58, 1)


        &:last-child
          border-right 0

      td, th
        padding 0 8px
        border-right 1px solid #ffffff
        border-left none
        border-top none
        border-bottom none
        vertical-align middle
        text-overflow ellipsis
        height 35px

        &:first-child
          padding-left 18px

        &:last-child
          padding-right 18px

      th
        font-family effra-medium
        color #bebec1
        font-weight normal

    .date
      color rgba(53, 55, 58, 0.48)

    .critical
      background-color #eb4a49

    .major
      background-color #ffc746

    .healthy
      background-color #45e888


