<div class="footer">
  <div class="footer-inner">
    <div class="pull-right">
      Our <a ui-sref="off_canvas">Policy</a> | <a ui-sref="pages.empy_page">Terms</a>
    </div>
    <div>
      <strong>Copyright</strong> MEER.IO &copy; 2016
    </div>
  </div>
</div>
