<!-- Wrapper-->
<div id="wrapper" class="container">

  <!-- Page wraper -->
  <!--  {{$state.current.name}} ng-class with current state name give you the ability to extended customization your view -->

  <minimalize-sidebar></minimalize-sidebar>

  <!-- Navigation -->
  <div ng-include="'app/views/layout/navigation.html'" include-replace></div>

  <div class="content-wrap">
    <div class="content" meer-close-nav>

      <div class="codrops-header">

        <!--Spinner/Loading-->
        <div class="spinner-wrapper">
          <div class="spinner" ng-show="$root.isWaiting"></div>
        </div>

        <!-- Main view  -->
        <ui-view></ui-view>

        <!-- Footer -->
        <div ng-include="'app/views/layout/footer.html'" include-replace></div>
      </div>

    </div>
    <!-- End page wrapper-->

  </div>
</div>
<!-- End wrapper-->
