<div class="menu-wrap">
  <nav class="menu-top">
    <img src="../assets/images/logo-white.png" class="logo"/>
    <!--Page wrapper -->
    <div ng-include="'app/views/layout/topnavbar.html'" include-replace></div>
  </nav>
  <nav id="ml-menu" class="menu menu-side" meer-menu>
    <div class="menu__wrap">
      <ul data-menu="main" class="menu__level">
        <li class="menu__item"><a class="menu__link" data-submenu="submenu-1">Profile</a></li>
        <li class="menu__item"><a class="menu__link" data-submenu="submenu-2">Super Admin</a></li>
        <li class="menu__item"><a class="menu__link" data-submenu="submenu-3">Product</a></li>
        <li class="menu__item"><a class="menu__link" data-submenu="submenu-4">Showroom</a></li>
      </ul>
      <!-- Submenu 1 -->
      <ul data-menu="submenu-1" class="menu__level">
        <li class="menu__item"><a class="menu__link" ui-sref="root.me">My Account</a></li>
        <li class="menu__item"><a class="menu__link">My Contacts</a></li>
        <li class="menu__item"><a class="menu__link">My Messages</a></li>
        <li class="menu__item"><a class="menu__link">Change Password</a></li>
      </ul>
      <!-- Submenu 2 -->
      <ul data-menu="submenu-2" class="menu__level">
        <li class="menu__item"><a class="menu__link" ui-sref="root.users">Users</a></li>
        <li class="menu__item"><a class="menu__link" ui-sref="root.newUser">New User</a></li>
        <li class="menu__item"><a class="menu__link" data-submenu="submenu-2-1">Providers</a></li>
        <li class="menu__item"><a class="menu__link" data-submenu="submenu-2-2">Sellers</a></li>
        <li class="menu__item"><a class="menu__link" ui-sref="root.categories">Categories</a></li>
        <li class="menu__item"><a class="menu__link" ui-sref="root.subCategories">Sub Categories</a></li>
        <li class="menu__item"><a class="menu__link" ui-sref="root.countries">Countries</a></li>
        <li class="menu__item"><a class="menu__link" ui-sref="root.regions">Regions</a></li>
        <li class="menu__item"><a class="menu__link" ui-sref="root.cities">Cities</a></li>
        <li class="menu__item"><a class="menu__link" ui-sref="root.colors">Colors</a></li>
        <li class="menu__item"><a class="menu__link" ui-sref="root.styles">Styles</a></li>
        <li class="menu__item"><a class="menu__link" ui-sref="root.currencies">Currencies</a></li>
        <li class="menu__item"><a class="menu__link" ui-sref="root.langueges">Languages</a></li>
        <li class="menu__item"><a class="menu__link" ui-sref="root.badges">Badges</a></li>
        <li class="menu__item"><a class="menu__link" ui-sref="root.tags">Tags</a></li>
        <li class="menu__item"><a class="menu__link" ui-sref="root.texts">Texts</a></li>
      </ul>
      <!-- Submenu 2-1 -->
      <ul data-menu="submenu-2-1" class="menu__level">
        <li class="menu__item"><a class="menu__link">All Providers</a></li>
        <li class="menu__item"><a class="menu__link">Create New</a></li>
        <li class="menu__item"><a class="menu__link">Analitics</a></li>
      </ul>
      <!-- Submenu 2-1 -->
      <ul data-menu="submenu-2-2" class="menu__level">
        <li class="menu__item"><a class="menu__link">All Sellers</a></li>
        <li class="menu__item"><a class="menu__link">Create New</a></li>
        <li class="menu__item"><a class="menu__link">Stores</a></li>
        <li class="menu__item"><a class="menu__link">Prices</a></li>
        <li class="menu__item"><a class="menu__link">Offer products</a></li>
        <li class="menu__item"><a class="menu__link">Analitics</a></li>
      </ul>
      <!-- Submenu 3 -->
      <ul data-menu="submenu-3" class="menu__level">
        <li class="menu__item"><a class="menu__link">All Products</a></li>
        <li class="menu__item"><a class="menu__link">Create New</a></li>
        <li class="menu__item"><a class="menu__link">Brand</a></li>
        <li class="menu__item"><a class="menu__link">Collection</a></li>
        <li class="menu__item"><a class="menu__link">Material</a></li>
        <li class="menu__item"><a class="menu__link">Tags</a></li>
      </ul>
      <!-- Submenu 4 -->
      <ul data-menu="submenu-4" class="menu__level">
        <li class="menu__item"><a class="menu__link">All Showrooms</a></li>
        <li class="menu__item"><a class="menu__link">Products from Catalog</a></li>
        <li class="menu__item"><a class="menu__link">Create New</a></li>
      </ul>

    </div>
  </nav>

</div>

<!--<div class="" slimscroll="{'height': '100%', 'railOpacity': '0.3'}">-->
<!--<nav class="meer-navbar-left" role="navigation">

  <ul side-navigation id="side-menu">

    <li ng-class="{active: $state.includes('superuser')}">
      <a href="index.html"><i class="fa fa-diamond"></i> <span class="nav-label">{{ 'SUPERUSER' | translate }}</span>
        <span class="fa arrow"></span></a>
      <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('superuser')}">
        <li ui-sref-active="active"><a ui-sref="superuser.users">{{ 'USERS' | translate }}</a></li>
        <li ui-sref-active="active"><a ui-sref="superuser.colors">Colors</a></li>
        <li ui-sref-active="active"><a ui-sref="superuser.categories">Categories</a></li>
        <li ui-sref-active="active"><a ui-sref="superuser.showrooms">Showrooms</a></li>

      </ul>
    </li>

    &lt;!&ndash;fa-shopping-bag todo update font-awesome&ndash;&gt;
    <li ng-class="{active: $state.includes('products')}">
      <a><i class="fa fa-shopping-cart"></i> <span class="nav-label">{{ 'PRODUCTS' | translate }}</span><span
        class="fa arrow"></span></a>
      <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('products')}">
        <li ui-sref-active="active"><a ui-sref="products.products_grid">Products grid</a></li>
        <li ui-sref-active="active"><a ui-sref="products.product_list">Products list</a></li>
        <li ui-sref-active="active"><a ui-sref="products.product">New Product / Edit</a></li>
        <li ui-sref-active="active"><a ui-sref="products.product_details">Product detail</a></li>
      </ul>
    </li>
    <li ng-class="{active: $state.includes('orders')}">
      <a><i class="fa fa-money"></i> <span class="nav-label">{{ 'ORDERS' | translate }}</span><span
        class="fa arrow"></span></a>
      <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('orders')}">
        <li ui-sref-active="active"><a ui-sref="orders.order_list">{{ 'ALL_ORDERS' | translate }}</a></li>
        <li ui-sref-active="active"><a ui-sref="orders.payments">{{ 'PAYMENTS' | translate }}</a></li>
      </ul>
    </li>

  </ul>

</nav>-->
