<div class="meer-top-navbar">

  <form role="search" class="top-search-input-form inline-block">
    <div class="form-group">
      <input type="text" placeholder="{{ 'SEARCH' | translate }}" class="form-control" name="top-search"
             id="top-search"/>
      <i class="fa fa-search" ></i>

    </div>
  </form>

  <div class="dropdown" dropdown>
    <!--<span class="dropdown-toggle count-info" href dropdown-toggle>-->
      <span class="btn btn-menu text-uppercase" href dropdown-toggle>
        {{ main.currentLang }}&nbsp;<b class="caret"></b>
      </span>
    <ul class="dropdown-menu m-t-xs">
      <li><a ng-click="main.setLanguage('en')" ng-class="{'active': main.currentLang === 'en'}">English</a></li>
      <li><a ng-click="main.setLanguage('ru')" ng-class="{'active': main.currentLang === 'ru'}">Русский</a></li>
    </ul>
  </div>

  <div class="dropdown profile-element" dropdown>
        <span class="dropdown-toggle" dropdown-toggle>
          <span class="text-xs block text-name">{{ $root.user.fname || 'Your Name' + ' ' + $root.user.lname}} <b class="caret"></b></span>
        </span>
    <ul class="dropdown-menu m-t-xs">
      <li><a ui-sref="root.me">{{ 'PROFILE' | translate }}</a></li>
      <li><a ui-sref="app.contacts">{{ 'CONTACTS' | translate }}</a></li>
      <li><a ui-sref="mailbox.inbox">{{ 'MAILBOX' | translate }}</a></li>
      <li class="divider"></li>
      <li><a ng-click="main.logout()">{{ 'LOGOUT' | translate }}</a></li>
    </ul>
  </div>

</div>
