<footer class="footer" id="footer" ng-controller="MainController as main">
  <i class="fa fa-sign-out cursor-pointer logout-btn" aria-hidden="true" ng-click="main.logout()"></i>
  <div class="logo">
    <img src="assets/images/logos/logo-white.png" alt="MEER.IO">
  </div>
  <p class="phone">+375 44 515 91 25</p>
</footer>
