<div class="logo-container" id="logo-container">
  <div class="logo" id="logo">
    <a href>
      <img src="assets/images/logos/logo-meer.png" alt="MEER.IO">
    </a>
  </div>
</div>

<div class="market-content-container" id="market-content-container" ui-view="content"></div>
<div include-replace ui-view="footer"></div>
