.logo-container
  margin 20px 0
  text-align left
.logo
  max-width 150px
  margin 0 auto

.market-content-container
  position relative

.ui-resizable-handle
  position fixed
  width 15px
  height 100%
  background-color rgba(168, 166, 169, 0.23)
  background-image url('../assets/splitdots.svg')
  background-repeat no-repeat
  background-position: center center
  top 0
  cursor col-resize
  background-size 8px
  background-position-y calc(50% + 20px)

  &:hover
    background-color rgba(192, 190, 193, 0.10)



.drag-here
  position fixed
  width 100px
  height 100%
  right 0
  top 0
  margin 0
  background #fff


.drag-side
  float left
  padding 0 5px 0 20px
  display flex
  flex-direction column
  justify-content space-around
  width 100px
  height 100%

.drag-area
  flex 1
  display flex
  margin 5px 0
  border 2px dashed #525252
  min-width 50px
  text-align center
  align-items center
  background-size cover
  background-repeat no-repeat
  background-position center
  &:first-child
    margin-top 0

  span
    flex 1
    text-transform uppercase

.canvas-container
  position relative
  overflow hidden
  height 100%
  &:after
    content ''
    display table
    clear both
  canvas
    position absolute
    cursor url('../assets/circle.svg'), auto
    filter brightness(115%)

input.query-search
  padding 2px 12px !important
  border-color #c5c5c5
  width 250px

.shop-top-left
  margin-left 5px

.category-name,
.category-count
  cursor pointer

.header-flex
  display flex
  align-content center
  align-items center
  justify-content space-between

.select-showroom
  position absolute
  z-index 2
  top 0
  left 100px
  padding 10px 10px 0 5px
  background #fff
  height 100%
  transition all 0.25s
  &.closed
    left 90px
    opacity 0
    z-index -1
  .top
    display flex
    justify-content space-between
    align-items center
  .load-btn
    color #fff
    text-transform uppercase
    background rgba(0, 0, 0, 0.65)
    padding 3px 19px
    transition background 0.2s
    &:hover
      background rgba(0, 0, 0, 0.6)

.toggle-showrooms-choice
  text-align center
  padding 22px 10px 13px
  cursor pointer
  .toggle-btn
    opacity 0.8
    background url('../assets/threedots.svg') no-repeat center
    width 38px
    height 10px
    display block
    margin 0 auto
  &:hover
    .toggle-btn
      opacity 1

.showrooms
  margin-top 10px
  display flex
  flex-direction column
  height calc(100% - 48px)

.showroom
  position relative
  flex 1
  height 33.2%
  margin-bottom 4px
  .showroom-border
    display none
    &.loaded
      display block
      position absolute
      z-index 3
      height 100%
      width 100%
      border 7px solid rgba(0, 0, 0, 0.41)
  .showroom-preview
    height 100%
    z-index 2
    max-width none


.check-showroom
  position absolute
  left 20px
  top 10px
  z-index 3
  &:before
    color rgba(255, 255, 255, 0.8)
    //color #6cb22a
    font-size 8rem

.btn
  border-radius 0
  &:hover,
  &:focus,
  &.fucus
    outline none

.pointer
  cursor pointer

.product-item
  width 250px
  display inline-block
  vertical-align top
  margin 0 5px 10px !important

.row .main-content
  width calc(100% - 250px)

.row .sidebar
  width 200px

.brands
  li
    list-style none

  .brand-container, .collection
    cursor pointer
  h5, h6
    display inline-block
    cursor pointer

.collections
  padding-left 20px

.brand-container.collapsed + .collections
    height 0
    overflow hidden

.brand-container .fa
  transition rotate 0.2s
  transform rotate(90deg)

.brand-container.collapsed .fa
  transform rotate(-90deg)

.brand-name
  padding-left 13px

.fa-arrow-circle-left:before
  color black
  font-size 15px

.collection
  &.active
    background #eee
    &:hover
      background #eee
  &:hover
    background #f9f9f9

.collection-name
  line-height 1.2em
  padding-left 10px
  margin-bottom 5px
  margin-top 5px

.main-container
  width 100%
  margin-left 0
  .container
    width 100%

.product-item .product-name
  margin-top 0 !important
  a
    font-size 14px !important
    &:hover
      color inherit !important

.product-list-grid
  margin-bottom 100px
.main-layout
  position relative
  min-height 100vh
footer.footer
  padding-top 0
  position absolute
  bottom 0
  .logo
    padding-top 25px
    max-width 150px
    margin 0 auto
  .phone
    margin 0
    text-align center
    padding-bottom 15px
    color rgba(255, 255, 255, 0.72)
    padding-top 5px

.no-select
  user-select none

.spinner-container
  transition all 1s
  opacity 0
  display flex
  align-items center
  height 100%
  width 100%
  position absolute
  z-index 0
  background #fff
  top 0
  right 0
  bottom 0
  left 0
  &.active
    opacity 1
    z-index 1


.logout-btn
  position absolute
  left 30px
  top 42px
  color #fff
  transform rotate(180deg)
  font-size 23px
