<section class="login">
  <form name="loginform" class="login-form" novalidate ng-submit="vm.login()">
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="vm.username" required>
    </div>
    <div class="form-group">
      <i class="fa fa-arrow-circle-right submit-button" ng-hide="loginform.$invalid" ng-click="vm.login()"></i>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="vm.password" required>
    </div>
    <button type="submit" class="invisible"></button>
  </form>
</section>
