<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>List of all users</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="active">
        <strong>List of all users</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <ul class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Users: {{ users.usersCount }}</h5>
          <a ui-sref="root.newUser" class=""> &nbsp; &nbsp; Create New</a>
          <a ui-sref="root.me" class=""> &nbsp; &nbsp; My Profile</a>
          <div ibox-tools></div>
        </div>
        <div class="ibox-content">
          <div class="gridStyle" ui-grid="users.gridOptions"></div>
          <!--<table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Id</th>
              <th>Email</th>
              <th>Role</th>
              <th>Status</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Created</th>
              <th>Updated</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users.users">
              <td><a ui-sref="root.user({id: user.id})">{{ ::$index+1 }}</a></td>
              <td><a ui-sref="root.user({id: user.id})">{{ user.id }}</a></td>
              <td><a ui-sref="root.user({id: user.id})">{{ user.email }}</a></td>
              <td>{{ user.user_role.name }}</td>
              <td>{{ user.object_status.name }}</td>
              <td>{{ user.fname + ' ' + user.lname}}</td>
              <td>{{ user.phone}}</td>
              <td>{{ user.created_at | date:'dd.MM.yyyy HH:mm:ss' }}</td>
              <td>{{ user.updated_at | date:'dd.MM.yyyy HH:mm:ss' }}</td>
            </tr>

            </tbody>
          </table>
-->


        </div>
      </div>
    </ul>
  </div>
</div>
