.ui-grid-top-panel {
  background: #fff;
}
.ui-grid-viewport {
  overflow: auto !important;
}
.ui-grid-column-menu-button-last-col {
  margin-right: 0;
}

.ui-grid-filter-container {
  padding: 4px;
}
