//.navbar-top-links .dropdown-menu li a.active {
//    text-decoration: none;
//    color: #000000;
//    background-color: #c1c1c1;
//}

.minimalize-styl-meer {
  border: 1px solid $border-color;
  border-radius: 0;
}

@import "bootstrap_extend";
@import "classes";
@import "layout";
@import "global";
@import "multilevelmenu";
@import "elements";
