.auth
  height 100vh
  background #e3e3e3
  padding-top 280px

  .login-logo
    display block
    width 230px
    margin 0 auto
    opacity 0.4

  .login
    width 235px
    margin 40px auto

    .form-group
      position relative

    .submit-button
      position absolute
      right 10px
      top 6px
      font-size 22px
