/* Shown menu */
.show-menu .menu-wrap {
  opacity: 1;
}

.show-menu .content-wrap,
.show-menu .menu-button {
  -webkit-transform: translate3d(300px, 50px, 0);
  transform: translate3d(300px, 50px, 0);
}

.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.logo {
  width: 112px;
  height: 20px;
}

.menu-top {
  height: 50px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  width: 100%;
}

.menu-side {
  width: 300px;
}

/* Overlay */
.content::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: opacity 0.2s, -webkit-transform 0s 0.2s;
  transition: opacity 0.2s, transform 0s 0.2s;
}

/* Menu Button */
.menu-button {
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  margin: 1em;
  padding: 0;
  width: 2.5em;
  height: 2.25em;
  border: none;
  text-indent: 2.5em;
  font-size: 1.5em;
  color: transparent;
  background: transparent;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

.menu-button::before {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
  content: '';
}

.menu-button:hover {
  opacity: 0.6;
}

/* Menu */
.menu-wrap {
  width: 100%;
  position: absolute;
  font-weight: 700;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;

  .meer-top-navbar {
    margin-left: 87px;
    display: inline-flex;
    flex-direction: row;
    flex: 1 1 0;
    justify-content: flex-start;
    align-items: center;
    .dropdown {
      display: inline-block;
      &:last-child {
        margin: 0 20px;
      }
    }
    .top-search-input-form {
      margin-right: 20px;
      .form-group {
        position: relative;
        margin-bottom: 0;
        .form-control {
          background: none;
          font-size: 14px;
          margin: 0;
          border-radius: 3px;
          border: 1px solid $menu-el-border;
          color: #fff;
          font-weight: 200;
          outline: none;
          padding-right: 28px;
          &:focus {
            border-color: #fff;
          }
          &:focus + .fa-search:before {
            color: #fff;
          }

        }
        .fa-search {
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
    }
    .profile-element {
      .text-name {
        color: $nav-text-color;
        font-weight: 200;
        font-size: 14px;
      }
    }
  }

  .btn-menu {
    background-color: $menu-el-bg;
    color: #a7b1c2;
  }

  input::-webkit-input-placeholder {
    color: #fff;
    font-weight: 200;
  }
}
