<div class="main-container shop-with-banner left-slidebar">
  <div class="container">

    <div class="row">
      <div class="col-sm-4 col-md-3 sidebar" id="sidebar">

        <div class="brands-wrap">
          <ul class="brands">
            <li class="brand" ng-repeat="brand in ::vm.brands">
              <div class="brand-container"
                   ng-class="{'collapsed': brand.isCollapsed}"
                   ng-click="brand.isCollapsed = !brand.isCollapsed"
                   ng-init="brand.isCollapsed = true">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                <h5 class="brand-name">{{ ::brand.name }}</h5>
              </div>
              <ul class="collections">
                  <li class="collection" ng-repeat="collection in ::brand.collections"
                    ng-class="{'active': vm.selectedCollection === collection}"
                    ng-click="vm.selectCollection(brand.id, collection)">
                  <h6 class="collection-name">{{ ::collection }}</h6>
                </li>
              </ul>
            </li>
          </ul>
        </div>

      </div>

      <div class="main-content col-sm-8 col-md-9" id="main-container">
        <ul class="product-list-grid">

          <div class="shop-top">
            <div class="shop-top-left">
              <input type="text" ng-model="vm.query" placeholder="Search..." class="query-search">
            </div>
          </div>


          <li class="product-item"
              ng-repeat="item in vm.products | filter:{article: vm.query}">
            <div class="product-inner">
              <div class="product-thumb">
                <a>
                  <img draggable="true"
                       data-img-txt-width="{{ ::item.width }}" data-img-txt-height="{{ ::item.height }}"
                       data-txt-src="{{ ::item.txtSrc }}"
                       dropable ng-src="../{{ ::item.src }}" alt="">
                </a>
              </div>
              <div class="product-info">
                <h3 class="product-name"><a>{{ ::item.article }}</a></h3>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div id="webview-container" class="drag-here split split-horizontal" webview splitter></div>
