<div class="wrapper wrapper-content middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">3D+</h1>
        </div>
        <h3>Welcome to IN+</h3>
        <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
        </p>
        <p>Login in. To see it in action.</p>

        <form ng-submit="login.login()" class="m-t" role="form" name="loginForm" method="post" novalidate="novalidate">
            <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="email" required="required" ng-model="login.credentials.email">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="{{'password' | translate}}" required="required" ng-model="login.credentials.password">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" ng-submit="login.login()">{{'login' | translate}}</button><!--ng-disabled="login.loggingIn || !loginForm.$valid"-->

            <button class="btn btn-primary block full-width m-b" ng-click="login.authenticate('facebook')">Sign in with Facebook</button>
            <button class="btn btn-primary block full-width m-b" ng-click="login.authenticate('google')">Sign in with Google</button>

            <div class="form-group text-left">
                <input type="checkbox" ng-model="login.credentials.rememberUser" icheck ng-checked="true"/> {{'rememberMe' | translate}}
            </div>
            <a ui-sref="forgot_password"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" ui-sref="register">Create an account</a>
        </form>
        <p class="m-t"> <small>ShowroomInc. &copy; 2015</small> </p>
    </div>
</div>
